<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:tx = "http://www.springframework.org/schema/tx"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
    default-lazy-init = "true">
    <!-- 
        default-init-method = "init" 
        default-destroy-method = "destroy"  -->
    <!-- <bean class = "com.tutorialspoint.InitHelloWorld" /> -->

    <context:annotation-config/>
    <!-- <aop:aspectj-autoproxy/> -->

    <!-- Definition for HelloWorldJDBCTemplate bean -->
    <bean id = "helloWorldJDBCTemplate" 
      class = "com.tutorialspoint.HelloWorldJDBCTemplate">
        <property name = "dataSource" ref = "dataSource" />
        <property name = "transactionManager" ref = "transactionManager" />
    </bean>

    <!-- Initialization for data source -->
    <bean id="dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
        <property name = "url" value = "jdbc:mysql://localhost:3306/TEST"/>
        <property name = "username" value = "root"/>
        <property name = "password" value = ""/>
    </bean>

    <!-- Initialization for TransactionManager -->
    <bean id = "transactionManager" 
      class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name = "dataSource"  ref = "dataSource" />
    </bean>

    <tx:advice id = "txAdvice" transaction-manager = "transactionManager">
        <tx:attributes>
            <tx:method name = "createDeclTrans"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id = "worldDaoOpp" 
         expression = "execution(* com.tutorialspoint.HelloWorldDAO.createDeclTrans(..))"/>
        <aop:advisor advice-ref = "txAdvice" pointcut-ref = "worldDaoOpp"/>
    </aop:config>

    <aop:config>
        <aop:aspect id = "log" ref = "logging">
            <aop:pointcut id = "selectAll" 
            expression = "execution(* com.tutorialspoint.HelloWorld.*(..))"/>

            <aop:before pointcut-ref = "selectAll" method = "beforeAdvice"/>
            <aop:after pointcut-ref = "selectAll" method = "afterAdvice"/>
            <aop:after-returning pointcut-ref = "selectAll" 
            returning = "retVal" method = "afterReturningAdvice"/>

            <aop:after-throwing pointcut-ref = "selectAll" 
            throwing = "ex" method = "AfterThrowingAdvice"/>
        </aop:aspect>
    </aop:config>

    <!-- <bean id = "cStartEventHandler" class = "com.tutorialspoint.ContextEvent"/> -->
    <!-- <bean id = "cStopEventHandler" class = "com.tutorialspoint.ContextEvent"/> -->
    <!-- <bean id = "cRexEventHandler" class = "com.tutorialspoint.ContextEvent"/> -->
    <bean id = "cCloseEventHandler" class = "com.tutorialspoint.ContextEvent"/>

    <!-- <bean id = "customEventHandler" class = "com.tutorialspoint.CustomEventHandler"/>
    <bean id = "customEventPublisher" class = "com.tutorialspoint.CustomEventPublisher"/> -->

    <bean id = "beanTeamplate" abstract = "true">
        <property name = "message1" value = "Hello World!"/>
        <property name = "message2" value = "Hello Second World!"/>
    </bean>

    <bean id = "helloWorld" class = "com.tutorialspoint.HelloWorld" parent = "beanTeamplate"/>

    <bean id = "helloIndia" class = "com.tutorialspoint.HelloIndia" parent = "beanTeamplate">
        <property name = "message1" value = "Hello India!"/>
        <property name = "message3" value = "Namaste India!"/>
    </bean>

    <bean id = "spellChecker" class = "com.tutorialspoint.SpellChecker">
        <property name = "checkerName" value = "Spell Checker 1"/>
    </bean>
    <bean id = "spellChecker2" class = "com.tutorialspoint.SpellChecker">
        <property name = "checkerName" value = "Spell Checker 2"/>
    </bean>

    <!-- <bean id = "textEditor" class = "com.tutorialspoint.TextEditor" autowire = "byName"/>
    <bean id = "textEditor" class = "com.tutorialspoint.TextEditor" autowire = "byType"/>
    <bean id = "textEditor" class = "com.tutorialspoint.TextEditor" autowire = "autodetect"/> -->

    <bean id = "textEditor" class = "com.tutorialspoint.TextEditor">
        <!-- <property name = "spellChecker">
            <ref bean = "spellChecker"/>
        </property> -->
    </bean>

    <bean id = "javaCollection" class = "com.tutorialspoint.JavaCollection">

        <!-- results in a setAddressList(java.util.List) call -->
        <property name = "addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name = "addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name = "addressMap">
            <map>
                <entry key = "1" value = "INDIA"/>
                <entry key = "2" value = "Pakistan"/>
                <entry key = "3" value = "USA"/>
                <entry key = "4" value = "USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name = "addressProp">
            <props>
                <prop key = "one">INDIA</prop>
                <prop key = "one">INDIA</prop>
                <prop key = "two">Pakistan</prop>
                <prop key = "three">USA</prop>
                <prop key = "four">USA</prop>
            </props>
        </property>

        <property name = "addressListBean">
            <list>
                <ref bean = "helloWorld"/>
                <ref bean = "helloWorld"/>
            </list>
        </property>

        <!-- Passing bean reference  for java.util.Set -->
        <property name = "addressSetBean">
            <set>
                <ref bean = "helloWorld"/>
                <ref bean = "helloWorld"/>
            </set>
        </property>

        <!-- Passing bean reference  for java.util.Map -->
        <property name = "addressMapBean">
            <map>
                <entry key = "1" value-ref = "helloWorld"/>
                <entry key = "2" value-ref = "helloWorld"/>
            </map>
        </property>
    </bean>

    <bean id = "logging" class = "com.tutorialspoint.Logging"/>

</beans>